body {
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    background-color: rgb(56, 0, 109);
}

.page-header {
    padding: 16px;
    color: rgb(243, 77, 0);
    text-align: center;
    background-color: rgb(9, 0, 49);
}

.categories {
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
    justify-content: center;
}

a {
    color:orange;
    text-decoration: none;
}

.category {
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
    width: 300px;
    text-align: center;
    margin: 15px 15px 10px 15px;
}

.tooltip {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0%;
    left: 0%;
}

@keyframes tooltip-opener {
    0% {
      transform: translate(50%) scaleX(0);
    }
  
    100% {
      transform: translate(100%) scaleX(100%);
    }
  }

.opened {
    display: flex;
    animation: tooltip-opener 150ms;
}

.tooltip-body {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip-text {
    background-color: rgb(19, 0, 0);
    max-width: 800px;
    color: white;
}

.double-range {
  position: relative;
  width: 200px;
  height: 36px;
  text-align: center;
  overflow: hidden;
}

.double-range__value {
  display: block;
  height: 0;
}

.double-range__range, .double-range__thumb {
  z-index: 1;
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 15px;
  width: 200px;
  outline: none;
  margin: 0;
  padding: 0;
}

.double-range__range::-webkit-slider-thumb {
  pointer-events: none;
  -webkit-appearance: none;
}
.double-range__range::-moz-range-thumb {
  pointer-events: none;
  height: 0;
}
.double-range__range::-ms-thumb {
  pointer-events: none;
  height: 0;
}

.double-range__thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  z-index: 3;
}

.double-range__thumb::-webkit-slider-thumb {
  pointer-events: auto;
  position: relative;
  z-index: 1;
  outline: 0;
}

.double-range__thumb::-moz-range-thumb {
  pointer-events: auto;
  position: relative;
  z-index: 1;
  outline: 0;
}

.double-range__thumb::-ms-thumb {
  pointer-events: auto;
  position: relative;
  z-index: 1;
  outline: 0;
}

.double-range__bar {
  opacity: 0;
  z-index: 2;
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: 21px;
  /*height: calc(100% - 14px);*/
  background-color: rgba(0, 0, 0, 0.2);

  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}
